@page "/fetchdata"
@using WeatherForecastSample.Shared
@using Blazor.Fluxor
@using Store.FetchData
@using Store.FetchData.GetForecastData
@inject IDispatcher Dispatcher
@inject IStateProvider<FetchDataState> FetchDataState

<h1>Weather forecast</h1>

@if (FetchDataState().ErrorMessage != null)
{
    <h1>Error</h1>
    <p>@FetchDataState().ErrorMessage</p>
}

<p>This page <strong>has</strong> been Fluxorized</p>

<p>This component demonstrates fetching data from the server.</p>

@if (FetchDataState().IsLoading)
{
    <p>Loading...(2 second delay on server side)</p>
}
@if (FetchDataState().Forecasts != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>Chan
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in FetchDataState().Forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}


@functions {
protected override async Task OnInitAsync()
{
    await Dispatcher.DispatchAsync(new GetForecastDataAction());
}
}